# See src/lib/dea/config.rb for optional config values.

# Base directory for dea, application directories, dea temp files, etc. are all relative to this.
base_dir: /tmp/dea_ng

logging:
  level: debug

# The this flag determines whether or not this DEA should only host
# production apps. (default: false)
only_production_apps: false

nats_uri: nats://localhost:4222/

pid_filename: /tmp/dea_ng.pid

runtimes:
  - ruby18
  - ruby19

warden_socket: /tmp/warden.sock

index: 0

# For Go-based directory server
directory_server:
  v1_port: 4385
  v2_port: 5678
  file_api_port: 1234
  streaming_timeout: 10
  logging:
    level: info
