# See src/lib/dea/config.rb for optional config values.

# Base directory for dea, application directories, dea temp files, etc. are all relative to this.
base_dir: /tmp/dea_ng

logging:
  level: debug

loggregator:
  router: 127.0.0.1:3456
  shared_secret: loggregatorsharedsecret

resources:
  memory_mb: 2048
  memory_overcommit_factor: 2
  disk_mb: 2048
  disk_overcommit_factor: 2
  max_instances: 256

nats_servers:
  - nats://localhost:4222/

pid_filename: /tmp/dea_ng.pid

warden_socket: /tmp/warden.sock

evacuation_bail_out_time_in_seconds: 900

default_health_check_timeout: 60 # 1 minute

index: 0
domain: "localhost.xip.io"

staging:
  enabled: true
  environment:
    PATH: /usr/local/ruby/bin
    BUILDPACK_CACHE: /var/vcap/packages/buildpack_cache
  memory_limit_mb: 1024
  disk_limit_mb: 2048
  disk_inode_limit: 200000
  cpu_limit_shares: 512
  max_staging_duration: 900 # 15 minutes

instance:
  cpu_limit_shares: 256
  disk_inode_limit: 200000

dea_ruby: /usr/bin/ruby

# For Go-based directory server
directory_server:
  protocol: 'http'
  v2_port: 80
  file_api_port: 1234
  streaming_timeout: 10
  logging:
    level: info

stacks:
  - lucid64

# Hook scripts for droplet start/stop
# hooks:
#   before_start: path/to/script
#   after_start: path/to/script
#   before_stop: path/to/script
#   after_stop: path/to/script

placement_properties:
  zone: "CRAZY_TOWN"
